$back: #FFAA05;
$main: #000;
$second: #fff;

@mixin trs($trs: all) {
	transition: $trs 0.5s ease-in-out;
}

@mixin transition($props) {
	$result: ();

	@for $i from 1 through length($props) {
		$prop: nth($props, $i);
		$result: append($result, $prop);
		$result: append($result, ease-in-out 0.3s);

		@if $i !=length($props) {
			$result: append($result, unquote($string: ","));
		}
	}

	transition: $result;
}

@mixin sm {
	@media (min-width: 576px) {
		@content;
	}
}

@mixin md {
	@media (min-width: 768px) {
		@content;
	}
}

@mixin lg {
	@media (min-width: 1024px) {
		@content;
	}
}

@mixin xl {
	@media (min-width: 1240px) {
		@content;
	}
}

@mixin xxl {
	@media (min-width: 1600px) {
		@content;
	}
}